{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "double"],
    "prettier/prettier": "warn"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
